:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.main-content {
  padding-top: 32px;
  margin: 0 auto;
}

h1 {
  font-family: Playfair;
  font-size: 3rem !important;
  font-weight: 800 !important;
  margin: 0;
}

h2 {
  font-family: Playfair;
  font-size: 2rem !important;
  font-weight: 800 !important;
  margin: 0;
}

h3 {
  font-family: Playfair;
  font-size: 1.25rem !important;
  font-weight: 800 !important;
  margin: 0;
}
