---
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("./*.mdx");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title + " | PageFind Troubleshoot"}>
  <div>
    <div class="mt-2">
      <article data-pagefind-body>
        <center>
          <h1>{frontmatter.title}</h1>
          <Content />
        </center>
      </article>
    </div>
  </div>
</Layout>

<script client:load>
  if (document.getElementById("search").innerHTML.trim() === "") {
    new PagefindUI({ element: "#search", showImages: false });
  } else {
    document.getElementById("search").innerHTML = "";
  }
</script>

<style is:global>
  /* .main-img {
    margin: 0 auto;
    height: 350px;
  } */
  article p {
    text-indent: 28px !important;
  }
</style>
