<div id="search"></div>

<style is:global>
  #search {
    width: calc(100vw - 20px);
    z-index: 11000;
  }
  #search input {
    position: static;
    width: calc(100vw - 20px);
    margin-left: 10px;
    margin-bottom: 4px;
    outline: 1px solid rgb(96 165 250);
    padding: 6px 16px;
    border-radius: 25px;
    background: rgb(214, 232, 253);
    z-index: 11000;
  }
  #search input:focus {
    outline: 2px solid rgb(76, 146, 231);
  }
  #search input::placeholder {
    font-style: italic;
  }
  .toggle-pagefind-drawer {
    position: absolute;
    background-color: #fff;
    outline: 2px solid gray;
    border-radius: 8px;
    top: 90px;
    width: calc(100vw - 30px);
    left: 15px;
    padding: 10px;
    margin-top: 8px;
  }
  #search .pagefind-ui__results-area {
    width: auto;
  }
  #search .pagefind-ui__message {
    font-size: 12px;
    font-weight: bold;
  }
  #search .pagefind-ui__result-excerpt {
    font-size: 14px;
  }
  #search .pagefind-ui__result-link {
    text-decoration: none;
    color: orange;
    font-size: 16px;
  }

  @media (min-width: 768px) {
    #search {
      margin: 0 auto;
      width: calc(100vw / 2);
    }
    #search input {
      position: static;
      width: calc(100vw / 2);
    }
    .toggle-pagefind-drawer {
      width: calc(100vw / 2);
      left: calc(51.2vw - calc(100vw / 4));
      padding: 10px;
    }
  }

  @media (min-width: 1024px) {
    #search {
      width: calc(100vw / 4);
    }
    #search input {
      position: static;
      width: calc(100vw / 4);
    }
    .toggle-pagefind-drawer {
      width: calc(100vw / 4);
      left: calc(50.4vw - calc(100vw / 8));
      padding: 10px;
    }
  }
</style>

<script client:load>
  // Make resultsDrawer and searchInput global so it can renew state when pagefind object is destroyed and recreated.
  let resultsDrawer;
  let searchInput;
  const noResults = "Sorry, couldn't find [SEARCH_TERM]. Feel free to browse around!";
  const searchPlaceholder = "Quick search...";

  // Initialize pagefind searchbar.
  new PagefindUI({
    element: "#search",
    showImages: false,
    translations: {
      placeholder: searchPlaceholder,
      zero_results: noResults,
    },
  });

  // For toggling visibility of the pagefind search results drawer.
  toggleResultsDrawer();

  // For creating a frosted glass overlay when the search input is focused.
  const searchEl = document.getElementById("search");
  const bgOverlay = document.getElementById("bg-overlay");

  searchEl.addEventListener("click", () => {
    bgOverlay.classList.remove("hidden");
  });

  bgOverlay.addEventListener("click", () => {
    bgOverlay.classList.add("hidden");
    searchEl.innerHTML = "";
    new PagefindUI({
      element: "#search",
      showImages: false,
      translations: {
        placeholder: searchPlaceholder,
        zero_results: noResults,
      },
    });

    toggleResultsDrawer();
  });

  searchInput.addEventListener("blur", (e) => {
    setTimeout(() => {
      resultsDrawer.classList.remove("toggle-pagefind-drawer");
    }, 400);
  });

  function toggleResultsDrawer() {
    resultsDrawer = document.getElementsByClassName("pagefind-ui__drawer")[0];
    searchInput = document.getElementsByClassName("pagefind-ui__search-input")[0];

    searchInput.addEventListener("focus", () => {
      resultsDrawer.classList.toggle("toggle-pagefind-drawer");
    });
  }
</script>
